#whole{
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#picid2 .iconback {
     border-radius: 10px;
     padding: 0 0 0px 0;
    width: 100px;
    height: 90px;
    cursor: pointer;
}
#picid2 > div{
    width: 50px;
    height: 50px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#picid2 img{
    width: 50px;
    height: auto;
}
.text{
    font-size: 17px;
}
#questiontext{
    height: 50px;
    font-size: 20px;
}

#picid2 .first {
    background-color: rgb(187, 247, 255);
}
#picid2 .second {
    background-color:rgb(125, 240, 248);
}
#picid2 .third {
    background-color: rgb(45, 215, 245);
}
#picid2 .first:hover {
    background-color: rgb(122, 219, 223);
}
#picid2 .second:hover {
    background-color:rgb(79, 218, 223);
}
#picid2 .third:hover {
    background-color: rgb(31, 193, 221);
}
#header{
    width: 100%;
    height: 80px;
    background-color: rgb(79, 207, 19);
    display: flex;
    align-items: center;
}
#logoimg{
    /* background-size: cover; */
    width: 100px;
    height: 50px;
    margin-left: 10px;
    cursor: pointer;
}
#logoimg:hover{
    width: 103px;
    height: auto;
}
.headericons{
    display: flex;
    position: absolute;
    left: 300px;
}
.headericons img{
    width: 30px;
    height: 30px;
    /* position: absolute; */
   
    margin: 7px;
    opacity: 35%;
    /* display: flex; */
}
.headericons img:hover{
    width: 33px;
    height: 33px;
    cursor: pointer;
    opacity:50%;
}


#buttoncomp{
    height: 50px;
    background-color:rgb(79, 207, 19);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
    color: rgb(39, 39, 39);
    margin: 20px;
}
#buttoncomp:hover {
    background-color:rgb(46, 173, 57);
    /* color: white; */
}

#backicon{
    width:35px;
    height: 35px;
    background-color:rgb(79, 207, 19);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
    color: rgb(39, 39, 39);
    /* margin: 20px; */
}
#backicon img{
    width: 100%;
    opacity: 30%;
}

#backicon img:hover{
    /* background-color:rgb(46, 173, 57); */
    opacity:50%;
    width: 38px;
    height: 38px;
}
#resulttitle{
    font-size: 30px;
    margin: 40px 0px 20px;
}
.tipsicons img{
    width: 50px;
    margin: 0px 20px 0px -30px;
}
.tipsicons{
    width: 70px;
    margin: 10px;
    display: flex;
    align-items: center;
    position: relative;
    right: 35px;
    font-size: 20px;
    font-weight: bold;
}
.tipsicons:hover{
    color:rgb(143, 85, 18);
    font-size: 23px;
    cursor: pointer;;
}
#tipbordereee{
    width: 300px;
    height: 300px;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}


#homeapp{
    width: 360px;
    height: 710px;
    background-color: rgb(252, 252, 252);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#hometext{
    position: relative;
    top: 100px;
    width: 250px;
    text-align: center;
    font-size: 20px;
}
#app{
    max-width: 360px;
    height: 710px;
    background-color: rgb(252, 252, 252);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tipapp{
    max-width: 360px;
    height: 710px;
    background-color: rgb(252, 252, 252);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.questionbutton{
    position: relative;
    top: 80px;
}
.homebutton{
    position: relative;
    top: 230px;
}
.backbutton{
    position: absolute;
    bottom: 747px;
    left:250px;
}
.tipbutton{
    position: relative;
    bottom: 50px;
}
#tiptitle{
    margin: -50px 0px;
}
.resultbox{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 150px;
    background-color: rgb(241, 241, 241);
    border-radius: 30px;
}
.second{
    height: 120px;
}
.third{
    height: 180px;
}
#tipborder{
    width: 300px;
    height: 30px;
    background-color:rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
#tipimagearea{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 20px;
    background-color: rgb(129, 248, 198);
}
#tipimagearea img{
    width: 40px;
}
#tiptitle{
    font-weight: bold;
    font-size: 19px;
    /* width: 100%; */
    /* margin:10px; */
}
#tiptext{
    font: 17px/30px Georgia;
    margin-top: 20px;
    width: 200px;
}
#transportationtiptext{
    font: 17px/30px Georgia;
    margin-top: 20px;
    width: 230px;
}
#clothingtiptext{
    font: 17px/30px Georgia;
    margin-top: 20px;
    width: 250px;
}






/*# sourceMappingURL=styles.chunk.css.map*/